body{
    /* background: rgb(143, 49, 197); */
    background: url("https://previews.123rf.com/images/notkoo2008/notkoo20081506/notkoo2008150607701/41377692-transportation-train-cartoon-seamless-pattern-background-Stock-Photo.jpg");
    background-size: 50%;
}

.jumbotron{
    margin-top: 30px;
}

